@import url(../css/normalize.css);
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu-light.woff2"), url("../../fonts/ubuntu-light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu-regular.woff2"), url("../../fonts/ubuntu-regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu-bold.woff2"), url("../../fonts/ubuntu-bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #303b40; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00e2b5; }
  .about::after {
    content: "";
    position: absolute;
    left: calc(50vw - 135px);
    bottom: -20px;
    width: 270px;
    height: 65px;
    background-image: url("../img/away_long.svg");
    background-repeat: no-repeat; }

.about__header-block {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 93%;
  margin-top: 30px;
  margin-bottom: 47px;
  background-color: #55359e; }

.about__header {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: fw-bold;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase; }

.about__slogan-block {
  width: 280px;
  height: 24px;
  background-color: #ffffff; }

.about__slogan {
  width: 280px;
  margin: 0;
  margin-top: -39px;
  margin-bottom: 50px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400; }

@media (min-width: 660px) {
  .about-wrapper {
    z-index: -2;
    position: relative;
    background-color: #00e2b5; }
  .about {
    z-index: -1;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -45px; }
    .about::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 51px;
      right: 0;
      width: 289px;
      height: 140px;
      background-color: #55359e; }
    .about::after {
      left: auto;
      right: 20px;
      bottom: -44px;
      width: 120px;
      height: 89px;
      background-image: url("../img/away.svg");
      background-repeat: no-repeat; }
  .about__header-block {
    margin-top: 45px;
    margin-bottom: 0;
    background-color: transparent; }
  .about__header {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-right: 30px;
    font-size: 30px;
    line-height: 48px; }
  .about__slogan-block {
    width: 300px;
    height: 19px; }
  .about__slogan {
    margin-top: -30px;
    margin-bottom: 45px;
    line-height: 18px; } }

@media (min-width: 1080px) {
  .about {
    max-width: 1080px;
    margin-top: -75px; }
    .about::before {
      top: 77px;
      width: 472px;
      height: 218px; }
    .about::after {
      bottom: -96px;
      width: 236px;
      height: 175px; }
    .about .about__header-block {
      width: 93%;
      margin-top: 70px;
      margin-bottom: 0;
      background-color: transparent; }
  .about__header {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 60px;
    font-size: 48px;
    line-height: 66px; }
  .about__slogan-block {
    width: 465px;
    height: 24px;
    margin-top: 13px; }
  .about__slogan {
    width: 420px;
    margin-top: -45px;
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 30px; } }

.advantages__decor-block {
  display: none; }

.advantages__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  text-align: center; }

.advantages__br-desktop {
  display: none; }

@media (min-width: 660px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 800px;
    margin: 0 auto; }
  .advantages__decor-block {
    position: relative;
    display: block;
    width: 151px;
    height: 165px;
    margin-top: 70px;
    background-color: #ef4319; }
    .advantages__decor-block::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 20px;
      width: 225px;
      height: 125px;
      background-image: url("../img/devices.svg");
      background-repeat: no-repeat; }
  .advantages__text {
    width: 328px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 53px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: left; }
  .advantages__br-desktop {
    display: block; }
  .advantages__br-mobile {
    display: none; } }

@media (min-width: 1080px) {
  .advantages {
    max-width: 1080px; }
  .advantages__decor-block {
    width: 244px;
    height: 267px;
    margin-top: 127px; }
    .advantages__decor-block::before {
      content: "";
      position: absolute;
      top: -22px;
      left: 20px;
      width: 363px;
      height: 202px; }
  .advantages__text {
    width: 450px;
    margin-top: 106px;
    margin-bottom: 117px;
    margin-right: 100px;
    font-size: 24px;
    line-height: 36px; } }

.interactive-map {
  overflow: hidden; }

.interactive-map__title {
  padding: 0 20px;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #55359e;
  text-align: right; }
  .interactive-map__title::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 20px;
    top: 0;
    width: 85px;
    height: 78px;
    background-image: url("../img/icon-map.svg");
    background-repeat: no-repeat;
    opacity: 0.05; }

.interactive-map__switch {
  display: none; }

.interactive-map__settings-floor {
  padding: 0 20px; }

.interactive-map__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.interactive-map__content-main-img {
  z-index: 1;
  position: absolute; }

.interactive-map__content-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.interactive-map__img {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100vw;
  font-size: 0;
  line-height: 0;
  background-color: #f2f2f2; }

.interactive-map__img img {
  width: 100vw; }

.interactive-map__svg {
  position: absolute; }

.interactive-map__path {
  opacity: 0.4;
  cursor: pointer; }
  .interactive-map__path:hover {
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    opacity: 0.6; }

.interactive-map__description {
  position: absolute;
  top: 5px;
  left: calc(50% - 25px);
  display: none;
  width: 50px;
  background-color: #00e2b5;
  -webkit-box-shadow: 0 2px 15px 0px #303b40;
          box-shadow: 0 2px 15px 0px #303b40; }

.interactive-map__description-head {
  z-index: 1;
  position: relative;
  margin-top: 3px;
  margin-bottom: 4px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center; }
  .interactive-map__description-head::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 5px;
    left: -5px;
    width: calc(100% + 10px);
    height: 5px;
    background-color: #ffdb1a; }

.interactive-map__description-main {
  display: none; }

.interactive-map-radio-1:checked ~ .interactive-map__content {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.interactive-map-radio-2:checked ~ .interactive-map__content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.interactive-map-radio-3:checked ~ .interactive-map__content {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.interactive-map-radio-1:checked ~ .settings-area label[for="settings-area-1"]::before,
.interactive-map-radio-2:checked ~ .settings-area label[for="settings-area-2"]::before,
.interactive-map-radio-3:checked ~ .settings-area label[for="settings-area-3"]::before {
  left: -10px;
  width: calc(100% + 20px); }

.hidden-ease {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0s linear 0.3s;
  transition: opacity 0.3s, visibility 0s linear 0.3s; }

.hidden {
  display: none; }

.opacity {
  opacity: 0; }

@media (min-width: 660px) {
  .interactive-map__title {
    margin-bottom: 2px; }
    .interactive-map__title::before {
      top: 22px;
      width: 100px;
      height: 92px; }
  .interactive-map__description {
    position: absolute;
    top: 10px;
    left: calc(50% - 125px);
    width: 250px;
    background-color: #00e2b5;
    -webkit-box-shadow: 0 5px 25px 0px #303b40;
            box-shadow: 0 5px 25px 0px #303b40; }
  .interactive-map__description-head {
    z-index: 1;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: center; }
    .interactive-map__description-head::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 6px;
      left: -10px;
      width: calc(100% + 20px);
      height: 8px;
      background-color: #ffdb1a; }
  .interactive-map__description-main {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff; } }

@media (min-width: 1080px) {
  .interactive-map__title {
    font-size: 48px;
    line-height: 57px; }
    .interactive-map__title::before {
      left: 20px;
      top: 30px;
      width: 218px;
      height: 200px; }
  .interactive-map__img {
    min-width: calc(100vw); }
  .interactive-map__description {
    position: absolute;
    top: 40px;
    left: calc(50% - 143px);
    width: 287px;
    background-color: #00e2b5;
    -webkit-box-shadow: 0 5px 25px 0px #303b40;
            box-shadow: 0 5px 25px 0px #303b40; }
  .interactive-map__description-head {
    z-index: 1;
    position: relative;
    margin-top: 10px;
    margin-bottom: 14px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-align: center; }
    .interactive-map__description-head::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 6px;
      left: -10px;
      width: calc(100% + 20px);
      height: 10px;
      background-color: #ffdb1a; }
  .interactive-map__description-main {
    margin: 0;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #ffffff; }
  .interactive-map-radio-1:checked ~ .interactive-map__content {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw); }
  .interactive-map-radio-3:checked ~ .interactive-map__content {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); } }

@media (min-width: 1600px) {
  .interactive-map__title {
    padding: 0;
    padding-left: 60px;
    padding-right: 60px; }
    .interactive-map__title::before {
      left: 60px; } }

.main-nav {
  margin-bottom: 40px; }

@media (min-width: 660px) {
  .main-nav {
    margin-bottom: 25px; } }

@media (min-width: 1080px) {
  .main-nav {
    margin-bottom: 35px; } }

.page-footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__address {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-align: center; }
  .page-footer__address::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 10px;
    left: -18px;
    width: 150px;
    height: 31px;
    background-color: #00e2b5; }

.page-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 154px;
  margin-bottom: 30px; }

.page-footer__links-journal {
  display: block;
  width: 57px;
  height: 54px;
  background-image: url("../img/logo-moydvgups.png");
  background-repeat: no-repeat; }

.page-footer__links-university {
  display: block;
  width: 75px;
  height: 42px;
  background-image: url("../img/logo-festu.png");
  background-repeat: no-repeat; }

.page-footer__end-tag {
  position: relative;
  margin-bottom: 30px; }

.page-footer__end-tag-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700; }
  .page-footer__end-tag-text::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 6px;
    left: -29px;
    width: 84px;
    height: 10px;
    background-color: #ffdb1a; }

@media (min-width: 660px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .page-footer__address {
    margin-left: 20px;
    text-align: left; }
    .page-footer__address::before {
      left: -20px; }
  .page-footer__links {
    width: 162px;
    margin-left: -50px; }
  .page-footer__links-journal {
    background-image: url("../img/logo-moydvgups_combo.png");
    background-position-y: top; }
    .page-footer__links-journal:hover, .page-footer__links-journal:focus {
      background-image: url("../img/logo-moydvgups_combo.png");
      background-position-y: bottom;
      outline: transparent; }
    .page-footer__links-journal:active {
      opacity: 0.5; }
  .page-footer__links-university {
    background-image: url("../img/logo-festu_combo.png");
    background-position-y: top; }
    .page-footer__links-university:hover, .page-footer__links-university:focus {
      background-image: url("../img/logo-festu_combo.png");
      background-position-y: bottom;
      outline: transparent; }
    .page-footer__links-university:active {
      opacity: 0.5; }
  .page-footer__end-tag-text {
    margin-right: 20px; }
    .page-footer__end-tag-text::before {
      content: "";
      z-index: -1;
      position: absolute;
      bottom: -8px;
      right: 0px;
      left: auto;
      top: auto;
      height: 44px; } }

@media (min-width: 1080px) {
  .page-footer {
    max-width: 1080px;
    margin: 0 auto; }
  .page-footer__address {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400; }
    .page-footer__address::before {
      top: 11px;
      left: -20px;
      width: 180px;
      height: 35px; }
  .page-footer__links {
    width: 240px;
    margin-left: -50px; }
  .page-footer__links-journal {
    width: 84px;
    height: 79px;
    background-image: url("../img/logo-moydvgups_combo--desktop.png");
    background-position-y: top; }
    .page-footer__links-journal:hover, .page-footer__links-journal:focus {
      background-image: url("../img/logo-moydvgups_combo--desktop.png");
      background-position-y: bottom; }
  .page-footer__links-university {
    width: 115px;
    height: 64px;
    background-image: url("../img/logo-festu_combo--desktop.png");
    background-position-y: top; }
    .page-footer__links-university:hover, .page-footer__links-university:focus {
      background-image: url("../img/logo-festu_combo--desktop.png");
      background-position-y: bottom; }
  .page-footer__end-tag-text {
    margin-right: 20px;
    font-size: 24px; }
    .page-footer__end-tag-text::before {
      bottom: -8px;
      right: 0px;
      left: auto;
      top: auto;
      width: 106px;
      height: 55px; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__text {
  padding: 0 20px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700; }

.page-header__text--tablet {
  display: none; }

.page-header__logo {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 91px;
  height: 25px;
  margin-bottom: 10px;
  background-color: #ef4319; }

.page-header__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px; }

@media (min-width: 660px) {
  .page-header__text--mobile {
    display: none; }
  .page-header__text--tablet {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px; }
  .main-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .page-header__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 140px;
    height: 87px;
    margin-bottom: 0;
    margin-top: -42px;
    background-color: #ffdb1a; }
  .page-header__img {
    width: 59px;
    height: 39px;
    margin-top: 30px; } }

@media (min-width: 800px) {
  .page-header__text--tablet {
    margin-top: 30px;
    margin-bottom: 37px;
    font-size: 18px; } }

@media (min-width: 1080px) {
  .page-header {
    width: 1080px;
    margin: 0 auto; }
  .page-header__text--tablet {
    margin-top: 30px;
    margin-bottom: 37px;
    font-size: 24px; }
  .page-header__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 202px;
    height: 126px;
    margin-bottom: 0;
    margin-top: -50px;
    background-color: #ffdb1a; }
  .page-header__img {
    width: 80px;
    height: 53px;
    margin-top: 50px; } }

.settings-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }

.settings-area__item {
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer; }
  .settings-area__item:hover, .settings-area__item:focus {
    outline: transparent; }
    .settings-area__item:hover::before, .settings-area__item:focus::before {
      left: -10px;
      width: calc(100% + 20px);
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s; }
  .settings-area__item:active::before {
    background-color: #ef4319;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s; }
  .settings-area__item::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -5px;
    width: 10px;
    height: 10px;
    background-color: #00e2b5; }

@media (min-width: 660px) {
  .settings-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 590px;
    margin: 0 auto;
    margin-top: 30px; }
  .settings-area__item {
    margin-bottom: 40px;
    font-size: 18px; } }

@media (min-width: 1080px) {
  .settings-area {
    width: 590px;
    margin-top: 40px; }
  .settings-area__item {
    margin-bottom: 56px;
    font-size: 22px;
    line-height: 22px; }
    .settings-area__item::before {
      bottom: -7px;
      width: 15px;
      height: 15px; } }

.settings-floor__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.settings-floor__item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer; }
  .settings-floor__item:hover, .settings-floor__item:focus {
    outline: transparent; }
    .settings-floor__item:hover::before, .settings-floor__item:focus::before {
      left: -10px;
      width: calc(100% + 20px);
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s; }
  .settings-floor__item:active::before {
    background-color: #ef4319;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s; }
  .settings-floor__item::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -5px;
    width: 10px;
    height: 10px;
    background-color: #ffdb1a; }

.settings-floor__item--active::before {
  left: -10px;
  width: calc(100% + 20px); }

@media (min-width: 660px) {
  .settings-floor__list {
    width: 68%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
  .settings-floor__item {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px; } }

@media (min-width: 1080px) {
  .settings-floor__list {
    width: 470px; }
  .settings-floor__item {
    margin-bottom: 50px;
    font-size: 22px; }
    .settings-floor__item::before {
      bottom: -10px;
      width: 15px;
      height: 15px; }
  .settings-floor__item--active::before {
    left: -10px;
    width: calc(100% + 20px); } }

.site-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.site-list__item {
  background-color: #ffdb1a;
  -webkit-box-shadow: 0 2px 5px 0 rgba(255, 219, 26, 0.5);
          box-shadow: 0 2px 5px 0 rgba(255, 219, 26, 0.5); }

.site-list__item:not(:last-child) {
  margin-bottom: 2px; }

.site-list__item a {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #303b40; }
  .site-list__item a:focus, .site-list__item a:hover {
    color: #ef4319;
    outline: transparent; }
  .site-list__item a:active {
    color: #ffdb1a;
    background-color: #ef4319; }

.site-list__link-tablet {
  display: none; }

@media (min-width: 660px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px; }
  .site-list__item {
    margin: 0;
    margin-left: 30px;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .site-list__link-mobile {
    display: none; }
  .site-list__link-tablet {
    display: inline; }
  .site-list__item a {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 26px;
    padding: 0;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ef4319; }
    .site-list__item a:focus, .site-list__item a:hover {
      color: #303b40;
      border-bottom-color: #ffdb1a; }
    .site-list__item a:active {
      color: #ef4319;
      background-color: transparent; }
    .site-list__item a::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -26px;
      width: 20px;
      height: 22px; }
  .site-list__item--map a::before {
    background-image: url("../img/icon-map.svg");
    background-repeat: no-repeat; }
  .site-list__item--map a:hover::before,
  .site-list__item--map a:focus::before {
    background-image: url("../img/icon-map-hover.svg"); }
  .site-list__item--virtual a::before {
    background-image: url("../img/icon-virtual.svg");
    background-repeat: no-repeat; }
  .site-list__item--virtual a:hover::before,
  .site-list__item--virtual a:focus::before {
    background-image: url("../img/icon-virtual-hover.svg"); } }

@media (min-width: 1080px) {
  .site-list__item {
    margin-left: 40px; }
  .site-list__item a {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 30px;
    padding: 0;
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 2px solid #ef4319; }
    .site-list__item a::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -33px;
      width: 27px;
      height: 30px; } }

.tour {
  margin-bottom: 30px; }

.tour__title {
  padding: 0 20px;
  position: relative;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #55359e;
  text-align: left; }
  .tour__title::before {
    content: "";
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 0;
    width: 85px;
    height: 95px;
    background-image: url("../img/icon-virtual.svg");
    background-repeat: no-repeat;
    opacity: 0.05; }

.tour__iframe {
  width: 100%;
  height: 45vw;
  background-color: rgba(85, 53, 158, 0.1); }

@media (min-width: 660px) {
  .tour {
    margin-bottom: 70px; }
  .tour__title {
    margin-top: 0;
    margin-bottom: 50px; }
    .tour__title::before {
      right: 20px;
      width: 100px;
      height: 112px; } }

@media (min-width: 1080px) {
  .tour {
    margin-bottom: 90px; }
  .tour__title {
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 57px; }
    .tour__title::before {
      top: -20px;
      width: 186px;
      height: 208px; } }

@media (min-width: 1600px) {
  .tour__title {
    padding: 0;
    padding-left: 60px;
    padding-right: 60px; }
    .tour__title::before {
      right: 60px; } }
